﻿
@{
    ViewBag.Title = "Manage_Customer";
}


<h2>List of Users</h2>

<table>
    <tr>
        <td>Name</td>
        <td>E_mail</td>
        <td>Password</td>
        <td>Phone_no</td>
        <td>Address</td>
        <td>Join Dtae</td>
        <td>City</td>
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.name</td>
            <td>@s.email</td>
            <td>@s.pwd</td>
            <td>@s.phno</td>
            <td>s.address</td>
            <td>@s.joindate</td>
            <td>@s.cityid</td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td><a href="/Admin/Edit/@s.id" class="btn btn-warning">Edit</a></td>
            <td>&nbsp;&nbsp;</td>
            <td><a href="/Admin/remove/@s.id" class="btn btn-warning">Remove</a></td>
            <td>&nbsp;&nbsp;</td>
        </tr>
    }


</table>

