﻿<!DOCTYPE html>
<html lang="en">
<head>
<title>Destinations</title>
<!--[if lt IE 9]>
	<script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page2">
<!-- content -->
		<section id="content">
			<article class="col1">
				<h3>Hot Travel</h3>
				<div class="pad">
					<div class="wrapper under">
						<figure class="left marg_right1"><img src="~/images/page1_img1.jpg" alt=""></figure>
						<p class="pad_bot2"><strong>Italy<br>Holidays</strong></p>
						<p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
						<a href="#" class="marker_1"></a>
					</div>
					<div class="wrapper under">
						<figure class="left marg_right1"><img src="~/images/page1_img2.jpg" alt=""></figure>
						<p class="pad_bot2"><strong>Philippines<br>Travel</strong></p>
						<p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
						<a href="#" class="marker_1"></a>
					</div>
					<div class="wrapper">
						<figure class="left marg_right1"><img src="~/images/page1_img3.jpg" alt=""></figure>
						<p class="pad_bot2"><strong>Cruise<br>Holidays</strong></p>
						<p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
						<a href="#" class="marker_1"></a>
					</div>
				</div>
       		</article>
			<article class="col2 pad_left1">
				<h2>Destinations</h2>
				<div class="wrapper under">
					<figure class="left marg_right1"><img src="~/images/page4_img1.jpg" alt=""></figure>
					<p class="pad_bot2"><strong>Sed ut perspiciatis unde omnis iste natus</strong></p>
					<p class="pad_bot2">Eror sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
					<a href="#" class="marker_2"></a>
				</div>
				<div class="wrapper under">
					<figure class="left marg_right1"><img src="~/images/page4_img2.jpg" alt=""></figure>
					<p class="pad_bot2"><strong>Neque porro quisquam est qui </strong></p>
					<p class="pad_bot2">Dolorehjum ipsum quia dolor sit amet, consectetur vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. Dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpat harum quidem rerum facilisest.</p>
					<a href="#" class="marker_2"></a>
				</div>
				<div class="wrapper">
					<figure class="left marg_right1"><img src="~/images/page4_img3.jpg" alt=""></figure>
					<p class="pad_bot2"><strong>Voluptatum deleniti atque corrupti quos</strong></p>
					<p class="pad_bot2">Dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa. Et harum quidem rerum facilisest et expedita distinctio. Nam libero tepore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis.</p>
					<a href="#" class="marker_2"></a>
				</div>
        	</article>
		</section>
<!-- / content -->
</body>
</html>