﻿<!DOCTYPE html>
<html lang="en">
<head>
<title>Contacts</title>
<script type="text/javascript" src="js/Myriad_Pro_600.font.js"></script>
<!--[if lt IE 9]>
	<script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page2">
<!-- content -->
		<section id="content">
			<article class="col1">
				<h3>Hot Travel</h3>
				<div class="pad">
					<div class="wrapper under">
						<figure class="left marg_right1"><img src="~/images/page1_img1.jpg" alt=""></figure>
						<p class="pad_bot2"><strong>Italy<br>Holidays</strong></p>
						<p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
						<a href="#" class="marker_1"></a>
					</div>
					<div class="wrapper under">
						<figure class="left marg_right1"><img src="~/images/page1_img2.jpg" alt=""></figure>
						<p class="pad_bot2"><strong>Philippines<br>Travel</strong></p>
						<p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
						<a href="#" class="marker_1"></a>
					</div>
					<div class="wrapper">
						<figure class="left marg_right1"><img src="~/images/page1_img3.jpg" alt=""></figure>
						<p class="pad_bot2"><strong>Cruise<br>Holidays</strong></p>
						<p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
						<a href="#" class="marker_1"></a>
					</div>
				</div>
        	</article>
			<article class="col2 pad_left1">
				<h2>Contact Form</h2>
				<form id="ContactForm" action="">
					<div>
						<div class="wrapper"><input type="text" class="input" >Name:<br /></div>
						<div class="wrapper"><input type="text" class="input" >E-mail:<br /></div>
						<div class="wrapper"><textarea name="textarea" cols="1" rows="1"></textarea>Message:<br /></div>
						<a href="#" class="button" onclick="document.getElementById('ContactForm').submit()">send</a>
						<a href="#" class="button" onclick="document.getElementById('ContactForm').reset()">clear</a>
					</div>
				</form>
        	</article>
		</section>
<!-- / content -->
</body>
</html>