﻿<!DOCTYPE html>
<html lang="en">
<head>
<title>Tours</title>
<!--[if lt IE 9]>
	<script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page3">
<!-- content -->
		<section id="content">
			<article class="col1">
				<h3>Hot Travel</h3>
				<div class="pad">
					<div class="wrapper under">
						<figure class="left marg_right1"><img src="~/images/page1_img1.jpg" alt=""></figure>
						<p class="pad_bot2"><strong>Italy<br>Holidays</strong></p>
							<p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
							<a href="#" class="marker_1"></a>
					</div>
					<div class="wrapper under">
						<figure class="left marg_right1"><img src="~/images/page1_img2.jpg" alt=""></figure>
						<p class="pad_bot2"><strong>Philippines<br>Travel</strong></p>
						<p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
						<a href="#" class="marker_1"></a>
					</div>
					<div class="wrapper">
						<figure class="left marg_right1"><img src="~/images/page1_img3.jpg" alt=""></figure>
						<p class="pad_bot2"><strong>Cruise<br>Holidays</strong></p>
						<p class="pad_bot2">Lorem ipsum dolor sit amet, consect etuer adipiscing.</p>
						<a href="#" class="marker_1"></a>
					</div>
				</div>
       		</article>
			<article class="col2 pad_left1">
				<h2>Our Tours</h2>
				<div class="wrapper">
					<article class="col3">
						<div class="wrapper">
							<figure class="left marg_right1"><img src="~/images/page3_img1.jpg" alt=""></figure>
							<p><strong>Error voluptatem accutium</strong> Doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo quia voluptas sit aspernatur aut odit aut fugit.</p>
							<p>Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorehjum ipsum quia dolor sit amet, consectetur vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</p>
							<p><strong>Voluptatum deleniti atque corrupti quos</strong> dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa. Et harum quidem rerum facilisest et expedita distinctio. Nam libero tepore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis voluptas assumenda.</p>
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.
						</div>
					</article>
					<article class="cols pad_left1">
						<ul class="list1">
							<li><a href="#">At vero eos et accusamus et</a></li>
							<li><a href="#">Gusto odio dignissimos ducimus </a></li>
							<li><a href="#">Blanditiis praesentium volupta</a></li>
							<li><a href="#">Tum deleniti atque corrupti</a></li>
							<li><a href="#">Quos dolores et quas molestias</a></li>
							<li><a href="#">Excepturi sint occaecati</a></li>
							<li><a href="#">Cupiditate non provident, simil</a></li>
							<li><a href="#">Ique sunt in culpa qui officia</a></li>
							<li><a href="#">Deserunt mollitia animi, id est</a></li>
							<li><a href="#">Laborum et dolorum fuga</a></li>
							<li><a href="#">Et harum quidem rerum facilis </a></li>
							<li><a href="#">Est et expedita distinctio</a></li>
							<li><a href="#">Nam libero tempore, cum soluta</a></li>
							<li><a href="#">Nobis est eligendi optio</a></li>
							<li><a href="#">Cumque nihil impedit quo</a></li>
							<li><a href="#">Minus id quod maxime placeat</a></li>
							<li><a href="#">Facere possimus, omnis</a></li>
							<li><a href="#">Voluptas assumenda est</a></li>
							<li><a href="#">Omnis dolor repellendus emp</a></li>
							<li><a href="#">Pribus autem quibusdam</a></li>
						</ul>
					</article>
				</div>
			</article>
		</section>
<!-- / content -->
</body>
</html>